<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Cook Book - votre ebook</title>

		<!-- Bootstrap icons -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Our custom CSS -->
		<link
		rel="stylesheet" href="http://{{ CSSLINK }}/css/pdf.css">
		<!-- favicon -->
		<link
		rel="shortcut icon" href="{{ asset('images/logo_the_cookbook.png')}}" type="image/x-icon">

		<!-- https://fonts.google.com/ -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<style>
			h1 {
				font-size: 4rem !important;
			}
			h2 {
				font-size: 3rem !important;
			}
			h3 {
				font-size: 2rem !important;
			}
		</style>

	</head>

	<body>

		<div class="mt-4">
			<div style="text-align: center">
				<img src="https://zupimages.net/up/23/36/9dff.png" alt="logo cookbook" width="400">
			</div>
			<br>
			<br>
			<h1 class="text-center text-uppercase font-weight-bold my-4">Les recettes de
				{{recipe[0].user.firstname}}
				{{recipe[0].user.lastname}}
			</h1>
			<div class="card-body">
				<h3 class="card-title text-center">chef
					{{recipe[0].user.experience}}</h3>
				<h6 class="card-subtitle text-muted text-center">Ma spécialité:
					{{recipe[0].user.speciality}}</h6>
			</div>
			<div style="text-align: center" class="my-4">
				<img src="{{recipe[0].user.picture}}" size="100" alt="{{recipe[0].user.firstname}} {{recipe[0].user.lastname}}">
			</div>

			{#################################################### SUMMARY ################################################################}

			<div class="card-body mt-4">
				<h2>
					Sommaire des recettes:
				</h2>

				{#### APERITIF SUMMARY ####}
				{% set categoryTitleDisplayed = false %}
				{% for recipes in recipe %}
					{% if recipes.category.title == "Apéritifs" and not categoryTitleDisplayed %}
						<h4>{{recipes.category.title}}</h4>

						{# now the category has been displayed once, so I change the value of the variable #}
						{% set categoryTitleDisplayed = true %}
					{% endif %}
				{% endfor %}

				{% for recipes in recipe %}
					{% if recipes.category.title == "Apéritifs" %}
						<ul>
							<li>{{recipes.title}}</li>
						</ul>
					{% endif %}
				{% endfor %}

				{#### ENTREES SUMMARY ####}
				{% set categoryTitleDisplayed = false %}
				{% for recipes in recipe %}
					{% if recipes.category.title == "Entrées" and not categoryTitleDisplayed %}
						<h4>{{recipes.category.title}}</h4>

						{# now the category has been displayed once, so I change the value of the variable #}
						{% set categoryTitleDisplayed = true %}
					{% endif %}
				{% endfor %}

				{% for recipes in recipe %}
					{% if recipes.category.title == "Entrées" %}
						<ul>
							<li>{{recipes.title}}</li>
						</ul>
					{% endif %}
				{% endfor %}

				{#### PLATS SUMMARY ####}
				{% set categoryTitleDisplayed = false %}
				{% for recipes in recipe %}
					{% if recipes.category.title == "Plats" and not categoryTitleDisplayed %}
						<h4>{{recipes.category.title}}</h4>

						{# now the category has been displayed once, so I change the value of the variable #}
						{% set categoryTitleDisplayed = true %}
					{% endif %}
				{% endfor %}

				{% for recipes in recipe %}
					{% if recipes.category.title == "Plats" %}
						<ul>
							<li>{{recipes.title}}</li>
						</ul>
					{% endif %}
				{% endfor %}

				{#### DESSERTS SUMMARY ####}
				{% set categoryTitleDisplayed = false %}
				{% for recipes in recipe %}
					{% if recipes.category.title == "Desserts" and not categoryTitleDisplayed %}
						<h4>{{recipes.category.title}}</h4>

						{# now the category has been displayed once, so I change the value of the variable #}
						{% set categoryTitleDisplayed = true %}
					{% endif %}
				{% endfor %}

				{% for recipes in recipe %}
					{% if recipes.category.title == "Desserts" %}
						<ul>
							<li>{{recipes.title}}</li>
						</ul>
					{% endif %}
				{% endfor %}

			</div>
		</div>


		{#################################################### APERITIFS ################################################################}
		{# set of a variable to verify if the category has been already use #}
		{% set categoryTitleDisplayed = false %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Apéritifs" and not categoryTitleDisplayed %}
								
				{# inclusion of the category title on a new page by itself #}
				{% include "Front/fragments/_category_title_ebook.html.twig" %}

				{# now the category has been displayed once, so I change the value of the variable #}
				{% set categoryTitleDisplayed = true %}
			{% endif %}
		{% endfor %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Apéritifs" %}

				{# inclusion of the category title on a new page by itself #}
				{% include "Front/fragments/_recipe_ebook.html.twig" %}


			{% endif %}
		{% endfor %}

		{#################################################### ENTREES ################################################################}
		{# set of a variable to verify if the category has been already use #}
		{% set categoryTitleDisplayed = false %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Entrées" and not categoryTitleDisplayed %}
				{% include "Front/fragments/_category_title_ebook.html.twig" %}

				{# now the category has been displayed once, so I change the value of the variable #}
				{% set categoryTitleDisplayed = true %}
			{% endif %}
		{% endfor %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Entrées" %}

				{# inclusion of the category title on a new page by itself #}
				{% include "Front/fragments/_recipe_ebook.html.twig" %}

			{% endif %}
		{% endfor %}

		{#################################################### PLATS ################################################################}
		{# set of a variable to verify if the category has been already use #}
		{% set categoryTitleDisplayed = false %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Plats" and not categoryTitleDisplayed %}
				{% include "Front/fragments/_category_title_ebook.html.twig" %}

				{# now the category has been displayed once, so I change the value of the variable #}
				{% set categoryTitleDisplayed = true %}
			{% endif %}
		{% endfor %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Plats" %}

				{# inclusion of the category title on a new page by itself #}
				{% include "Front/fragments/_recipe_ebook.html.twig" %}

			{% endif %}
		{% endfor %}

		{#################################################### DESSERTS ################################################################}
		{# set of a variable to verify if the category has been already use #}
		{% set categoryTitleDisplayed = false %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Desserts" and not categoryTitleDisplayed %}
				{% include "Front/fragments/_category_title_ebook.html.twig" %}
				{# now the category has been displayed once, so I change the value of the variable #}
				{% set categoryTitleDisplayed = true %}
			{% endif %}
		{% endfor %}

		{% for recipes in recipe %}
			{% if recipes.category.title == "Desserts" %}

				{# inclusion of the category title on a new page by itself #}
				{% include "Front/fragments/_recipe_ebook.html.twig" %}

			{% endif %}
		{% endfor %}


	</body>
</html>

