{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}


		{% block body %}
			<div class="text-center">
				<h1>Liste des utilisateurs</h1>
			</div>

			<div class="container-fluid">
				<div class="table-responsive mx-auto">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Email</th>
								<th>Role</th>
								<th>Password</th>
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Picture</th>
								<th>Speciality</th>
								<th>Experience</th>
								<th>Présentation</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.email }}</td>
									<td>
										{% for role in user.roles %}
											<li>{{ role }}</li>
										{% endfor %}
									</td>
									<td>{{ user.password|slice(0, 10) }}</td>
									<td>{{ user.firstname }}</td>
									<td>{{ user.lastname }}</td>
									<td><img class="col-2 movie__poster rounded border" src="{{user.picture}}"></td>
									<td>{{ user.speciality }}</td>
									<td>{{ user.experience }}</td>
									<td>{{ user.presentation }}</td>
									<td>{{ user.status }}</td>

									<td>
										<a href="#">
											<i class="bi bi-eye btn btn-warning"></i>
										</a>
										<a href="#">
											<i class="bi bi-pencil btn btn-secondary"></i>
										</a>
										<a onclick="return confirm('Voulez vous supprimer ?')" href="#">
											<i class="bi bi-trash btn btn-danger"></i>
										</a>


									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endblock %}


