<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Cook Book - votre recette</title>

		<!-- Bootstrap icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Our custom CSS -->
		<link
		rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
		<!-- favicon -->
		<link
		rel="shortcut icon" href="{{ asset('images/favicon_cookbook.png')}}" type="image/x-icon">

		<!-- https://fonts.google.com/ -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	</head>

	<body>

	{% for recipes in recipe %}

		<nav class="container navbar navbar-expand-lg bg-primary my-4" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="logo" href="#">
					<img src="https://zupimages.net/up/23/34/jt5z.png" alt="logo cookbook" width="400">
				</a>

				<div>
						<img src="{{recipes.user.picture}}" class="rounded-circle shadow-4-strong" width="100">
						<p style="color: white">Les recette de {{recipes.user.firstname}} {{recipes.user.lastname}}</p>
				</div>
			</div>
		</nav>

		<main class="container">
			<div class="row">
				<div class="flex-row w-25">
					<div>
						<img src="{{asset(recipes.picture)}}" class="mw-100" alt="">
					</div>
				</div>
				<div class="flex-row w-75">
					<h1 class="my-4">{{recipes.title}}</h1>
					<div>
						<div class="row my-4">
							<div class="col">
								<i class="bi bi-tag">
									{{recipes.category}}</i>
							</div>
							<div class="col">
								<i class="bi bi-alarm">
									{{recipes.duration}}</i>
							</div>
							<div class="col">
								<i class="bi bi-calendar3">{{recipes.createdAt|date("d/m/Y")}}</i>
							</div>
						</div>
					</div>
				</div>
				<div class="my-4">
					<h3>Ingrédients</h3>
					{% for ingredient in recipes.ingredients %}
						<li>{{ ingredient }}</li>
					{% endfor %}
				</div>
				<div>
					<h3>Etapes de préparation</h3>
					{% for step in recipes.steps %}
						<li>{{ step }} </li>
                    {% endfor %}
				</div>
			</div>
		</main>

		{% endfor %}

		<footer class="container my-4">
			<div class="alert alert-dismissible alert-success">
				Toutes mes recettes sont disponibles sur
				<a href="{{path('tcb_front_main_home')}}" class=" alert-link">The Cook Book</a>.
			</div>

		</footer>

	</body>
</html>