<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Cook Book - votre ebook</title>

		<!-- Bootstrap icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Our custom CSS -->
		<link rel="stylesheet" href="http://mahererais-server.eddi.cloud/css/pdf.css">
		<!-- favicon -->
		<link rel="shortcut icon" href="{{ asset('images/logo_the_cookbook.png')}}" type="image/x-icon">

		<!-- https://fonts.google.com/ -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<style>
		h1{
			font-size: 4rem!important;
		}
		h2{
			font-size: 3rem!important;
		}
		h3{
			font-size: 2rem!important;
		}
		</style>

	</head>

	<body>

		<div class="mt-4">
			<div style="text-align: center">
				<img src="https://zupimages.net/up/23/36/9dff.png" alt="logo cookbook" width="400">
			</div>
			<br>
			<br>
			<h1 class="text-center text-uppercase font-weight-bold my-4">Les recettes de {{recipe[0].user.firstname}} {{recipe[0].user.lastname}} </h1>
			<div class="card-body">
				<h3 class="card-title text-center">chef {{recipe[0].user.experience}}</h3>
				<h6 class="card-subtitle text-muted text-center">Ma spécialité: {{recipe[0].user.speciality}}</h6>
			</div>
			<div style="text-align: center" class="my-4">
				<img src="{{recipe[0].user.picture}}" size="100" alt="{{recipe[0].user.firstname}} {{recipe[0].user.lastname}}">
			</div>
			<div class="card-body mt-4">
				<h2> Sommaire des recettes: </h2>
				{% for recipes in recipe %}
					<ul>
						<li>{{recipes.title}}({{recipes.category}})</li>
					</ul>
				{% endfor %}
			</div>
		</div>
		<p class="new-page"></p>


			{% for recipes in recipe %}

				<nav class="container navbar navbar-expand-lg bg-primary my-4" data-bs-theme="dark">
					<div class="container-fluid">
						<a class="logo" href="#">
							<img src="https://zupimages.net/up/23/36/bfmk.png" alt="logo cookbook" width="400">
						</a>

						<div>
							<img src="{{recipes.user.picture}}" class="rounded-circle shadow-4-strong" width="100">
							<p style="color: white">Les recette de
								{{recipes.user.firstname}}
								{{recipes.user.lastname}}</p>
						</div>
					</div>
				</nav>

				<main class="container">
					<div class="row">
						<div class="flex-row w-25">
							<div>
								<img src="{{asset(recipes.picture)}}" class="mw-100" alt="{{recipes.title}}">
							</div>
						</div>
						<div class="flex-row w-75">
							<h2 class="my-4 text-uppercase font-weight-bold">{{recipes.title}}</h2>
							<div>
								<div class="row my-4">
									<div class="col">
										<i class="bi bi-tag">
											catégorie:
											{{recipes.category}}</i>
									</div>
									<div class="col">
										<i class="bi bi-alarm">
											Temps de préparation:
											{{recipes.duration}}</i>
									</div>
									<div class="col">
										<i class="bi bi-calendar3">
										Ajouté le :
										{{recipes.createdAt|date("d/m/Y")}}</i>
									</div>
								</div>
							</div>
						</div>
						<div class="my-4">
							<h3>Ingrédients</h3>
							{% for ingredient in recipes.ingredients %}
								<li>{{ ingredient }}</li>
							{% endfor %}
						</div>
						<div>
							<h3>Etapes de préparation</h3>
							{% for step in recipes.steps %}
								<li>{{ step }}
								</li>
							{% endfor %}
						</div>
					</div>
				</main>
				<p class="new-page"></p>
			{% endfor %}
	</body>
</html>
