{% extends 'Front/front_base.html.twig' %}

{% block title %}Enregistrement
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="register_container">


        {{ form_start(registrationForm, {'style': 'display:flex; gap: 2rem; flex-direction: column; max-width: 700px;'}) }}
		
            <div class="page_register_title_container">
                <a href="{{path("tcb_front_security_login")}}" class="isDisabled">Se connecter</a>
                <a href="{{path("tcb_front_security_register")}}" class="tcb_btn">S'inscrire</a>
            </div>
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">S'inscire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
