{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Liste des recettes
{% endblock %}

{# {% block main %}
    <main style="max-width:unset"> #}
{% block body %}
	<div class="text-center">
		<h1>Liste des recettes</h1>
	</div>

	<div class="container-fluid">
		<div class="table-responsive mx-auto">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th class="col-2">Title</th>
						<th>Steps</th>
						<th>Category</th>
						<th>Ingredients</th>

					</tr>
				</thead>
				<tbody>
					{% for recipe in recipes %}
						<tr>
							<td>{{ recipe.id }}</td>
							<td>{{ recipe.title }}</td>
							<td>
								<ul>
									<li>{{ recipe.steps|first|slice(0, 50) }}</li>
								</ul>
							</td>
							<td>{{ recipe.category }}</td>
							<td>
								{% for ingredient in recipe.ingredients|slice(0, 3) %}
									<li>{{ ingredient }}</li>
								{% endfor %}
							</td>
							<td>
								<a href="{{ path('tcb_admin_recipe_show', {id: recipe.id}) }}">
									<i class="bi bi-eye btn btn-warning"></i>
								</a>
								<a onclick="return confirm('Voulez-vous supprimer ?')" href="{{ path('tcb_admin_recipe_delete', {id: recipe.id}) }}">
									<i class="bi bi-trash btn btn-danger"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">No records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{# </main>
		{% endblock %} #}

