{% extends "base.html.twig" %}

{% block title %}Back office
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	
	<link rel="stylesheet" href="{{asset('assets/css/admin/admin.css')}}">
	
 
{% endblock %}

{% block nav %}
	<header id="header_id" >
		<div class="header_container">

			<div id="menuToggle">
				<input id="checkbox" type="checkbox">
				<label class="toggle" for="checkbox">
					<div class="bar bar--top"></div>
					<div class="bar bar--middle"></div>
					<div class="bar bar--bottom"></div>
				</label>
			</div>


			{% block connexion %}
				<div class="right_bar_container">
					{% if is_granted('IS_AUTHENTICATED_FULLY') and "ROLE_ADMIN" in app.user.roles %}
								<a class="login_btn" href="{{path('tcb_front_user_profile', {'slug': app.user.slug})}}">
									<img src="{{app.user.picture ?: "https://c8.alamy.com/zoomsfr/9/d08ded34f26b4368843097d19c025b0e/2gwexg2.jpg" }}" alt="avatar du profile utilisateur">
								</a>
							{% else %}
								<a href="{{path('tcb_front_security_login')}}">
									<i class="fas fa-user"></i>
								</a>
							{% endif %}
					<div class="search_container">
						<i class="fas fa-search"></i>
						<input type="text" placeholder="recherche ...">
					</div>
				</div>
			{% endblock %}


			<nav>
				<ul>
					<li><a href="{{path('tcb_admin_recipe_home')}}">Back office</a></li>
					<li><a href="{{path('tcb_admin_recipe_getAll')}}">Liste recettes</a></li>
					<li><a href="{{path('tcb_admin_user_getAll')}}">Liste utilisateurs</a></li>
					<li><a href="{{path('tcb_admin_category_getAll')}}">Liste catégories</a></li>
				</ul>

			</nav>


			<a class="logo" href="{{path('tcb_front_main_home')}}">
				{# <img src="https://cdn.worldvectorlogo.com/logos/symfony.svg" alt="logo"> #}
				<img src="{{ asset('images/logo_marmite_cookbook.png')}}" alt="logo">
			</a>


		</div>

	</header>
{% endblock %}


{% block body %}

	<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
		<h1 style="font-weight: bold; font-size: 36px;">Bienvenue dans le back office !</h1>
		<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
			<img src="https://img.freepik.com/vecteurs-libre/bon-cuisinier-moustache-louche-brillante_23-2147625070.jpg?w=740&t=st=1693310168~exp=1693310768~hmac=f7285fb9873b7f0acb11e6d79008bb6e34817d40a8c1b4275147fab9591d7d22" alt="Philippe Etchebest heureux" style="max-width: 300px;">
		</div>
	</div>

{% endblock %}

{% block footer %}
	<footer >

		<div class="footer_container">
			<a class="tcb_btn_arrow_top" href="#header_id">
				<i class="fas fa-arrow-up"></i>
			</a>

			<ul>
				<li><a href="#">Mentions Légales</a></li>
			</ul>
		</div>

	</footer>
{% endblock %}
