{% extends 'Front/front_base.html.twig' %}

{% block title %}TheCookBook
{% endblock %}

{% block body %}

	<h1 class="page_title">
		Bienvenue sur The CookBook !
	</h1>
	<p class="mt-5">Vous êtes professionnel de la cuisine ou amateur, The Cook Book vous permet de générer un ebook au format pdf de vos recettes de cuisine rédigées sur le site afin de les rendre consultables ou de les garder privées.</p>
	{% for category, recipes in categoryRecipes %}
		{# =if no recipes in a category#}
		{% if recipes is not empty %}
			<div class="cards">

				<div class="cards_carrousel_container">
					<div class="cards_carrousel">
						{% for recipe in recipes %}
							<div class="cards_container">
								<img class="lazyload recipe-image--border shadow-none" data-src="{{ recipe.getPicture() }}" alt="{{ recipe.title() }}">
								<div class="cards_content">
									<h2>{{ recipe.title() }}</h2>
									<p>proposée par
										<a href="{{ path('tcb_front_user_show', { 'slug' : recipe.user.slug}) }}" style="color: var(--main-color)">
									{{recipe.user.firstname}} {{recipe.user.lastname}}</a>
									</p>
									<h3>Ingrédients :</h3>
									<ul style="display: list-item;">
										{% for ingredient in recipe.ingredients|slice(0, 2) %}
											<li style="list-style: disc;list-style-position: inside; margin-left: 1rem;">
												{{ ingredient }}
											</li>
										{% endfor %}
									</ul>


									<h3>Préparation:</h3>
									<p class="card_presentation">
										<ul style="display: list-item;">
											<li style="list-style: disc;list-style-position: inside; margin-left: 1rem;">
												{{ recipe.steps|first|slice(0, 50) }}
											</li>
										</ul>
									</p>

									<div
										class="card_btn">

										{# inclusion of the toogle button to switch to favorite recipe  #}
										{% include "Front/fragments/_toggle_favorite_button.html.twig" %}

										<a class="tcb_btn" href="{{ path('tcb_front_recipe_show', { 'slug' : recipe.slug}) }}" aria-label="voir la recette complete">Voir la recette</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<a class="tcb_btn_caroussel tcb_btn_caroussel_left" aria-label="recette suivante" href="#">
					<i class="fas fa-arrow-up"></i>
				</a>
				<a class="tcb_btn_caroussel tcb_btn_caroussel_right" aria-label="recette précédente" href="#">
					<i class="fas fa-arrow-up"></i>
				</a>
				<div class="card_title">
					<a href="{{path('tcb_front_category_show', { 'slug' : recipes[0].category.slug}) }}" aria-label="voir la catégorie {{ category }}">{{ category }}
					</a>
					<p style="font-size:0.6em;">
						<a href="{{path('tcb_front_category_show', { 'slug' : recipes[0].category.slug}) }}" style="color: var(--main-color)" aria-label="voir la catégorie {{ category }}">Voir tout >></a>
					</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}


	<div class="r_cards_container">

		<h2>Une de nos recettes :</h2>
		<img class="lazyload recipe-image--border" data-src="{{asset('assets/images/logoTCB.png')}}" alt="">

		<div class="r_cards_content">
			<h2></h2>
			<h3></h3>
			<p>Proposée par
				<a href="" style="color: var(--main-color)"></a>
			</p>
		</div>
	</div>
</div>{% endblock %}
