{% extends 'Front/front_base.html.twig' %}

{% block title %}Liste des recettes
{% endblock %}


{% block body %}

	<h1 class="page_title">Liste des recettes </h1>

	{% for recipe in recipes %}

		<div class="cards">

			<div class="r_cards_container">

				<img src="{{recipe.picture}}" alt="{{recipe.title}}">

				<div class="r_cards_content">
					<h2>{{recipe.title}}</h2>
					<h3>{{recipe.category.title}}</h3>
					{# ! to be dynamized with user entity addition #}
					{# <p>Proposée par {{user.firstname}}</p> #}
					{% for user in users %}						
					<p>Proposée par {{user.firstname}}{{user.lasname}}</p>
					{% endfor %}
					<h3>Préparation:</h3>
					{% for step in recipe.steps %}
						<ul>
							<li>{{step}}</li>
						</ul>
					{% endfor %}
					<p class="r_card_presentation">{{recipe.title}}</p>

					<div class="r_card_btn">
						<a class="tcb_btn" href="{{ path('tcb_front_recipe_show', { 'slug' : recipe.slug}) }}">Voir la recette</a>
						<a class="heart_icon">
							<i class="fas fa-heart"></i>
						</a>
					</div>
				</div>

			</div>
		</div>

	{% endfor %}

	<button type="button" class="tcb_btn">Voir plus</button>

{% endblock %}
