{% extends 'Front/front_base.html.twig' %}

{% block title %}Liste des recettes
{% endblock %}


{% block body %}

	<h1 class="page_title">Liste des recettes</h1>

	{% if recipes is not empty %}

		{% for recipe in recipes %}


			<div class="cards">

				<div class="r_cards_container">

					<img class="recipe-image--border" src="{{recipe.picture}}" alt="{{recipe.title}}">

					<div class="r_cards_content">
						<h2>{{recipe.title}}</h2>
						<h3>{{recipe.category.title}}</h3>
						{# ! to be dynamized with user entity addition #}
						{# <p>Proposée par {{user.firstname}}</p> #}
						<p>Proposée par
							<a href="{{ path('tcb_front_user_show', { 'slug' : recipe.user.slug}) }}">{{recipe.user.firstname}}
								{{recipe.user.lastname}}</a>
						</p>
						<h3>Préparation:</h3>
						<ul>
							{% for step in recipe.steps %}
								<li>{{step}}</li>
							{% endfor %}
						</ul>
						<p class="r_card_presentation">{{recipe.title}}</p>


						<div class="r_card_btn">
							<a class="tcb_btn" href="{{ path('tcb_front_recipe_show', { 'slug' : recipe.slug}) }}">Voir la recette</a>
							{# inclusion of the toogle button to switch to favorite recipe  #}
							{% include "Front/fragments/_toggle_favorite_button.html.twig" %}
						</div>
					</div>
				</div>
			</div>


		{% endfor %}

	{% else %}
		<p class="mx-auto fst-italic">Il n'y a pas encore de recettes dans cette catégorie.</p>
	{% endif %}

	{# display navigation #}
	<div class="tcb_pagnination mx-auto mt-4">
		{{ knp_pagination_render(recipes, 'Front/fragments/_paginator.html.twig') }}
	</div>
	{# <button type="button" class="tcb_btn">Voir plus</button> #}

{% endblock %}
