{% extends 'Front/front_base.html.twig' %}

{% block title %}Recette
	{{recipe.title}}
{% endblock %}

{% block body %}

	<div class="page-title text-center">
		<h1 style="text-transform:uppercase">{{recipe.title}}</h1>
		<i class="bi bi-tag">catégorie: {{recipe.category.title}}</i>
		<p>	proposé par
			<a href="#user_profile">{{recipe.user.firstname}}{{recipe.user.lastname}}</a>
		</p>
			<i class="bi bi-calendar3">Publiée le
				{{recipe.createdAt|date("d/m/Y")}}</i>

	</div>


	<main class="container">
		<div class="row">
			<div>
				<div class="text-center my-4">
					<img src="{{recipe.picture}}" class="mw-100" size="400" alt="{{recipe.title}}">
				</div>
				<div>
					<div class="row my-4">
						<div class="col my-4">
							<i class="bi bi-alarm">Temps de préparation :
								{{recipe.duration}}
								mn</i>
						</div>
						<div>
							<h3>Ingrédients :
							</h3>

							{% for ingredient in recipe.ingredients %}
								<p>-{{ingredient}}</p>
							{% endfor %}

						</div>
					</div>
				</div>

				<h3>Etapes de préparation :</h3>

				{% for step in recipe.steps %}
					<p class="my-2">{{step}}</p>
				{% endfor %}

			</div>
		</div>

		<div class="user_container tcb_padding my-4" id="user_profile">

			<a href="{{ path('tcb_front_user_show', { 'slug' : recipe.user.slug}) }}">
				<img src="{{recipe.user.picture}}" alt="{{recipe.user.firstname}}{{recipe.user.lastname}}">
			</a>
				<div class="user_descriptions">
					<div>
						<label>Nom :
						</label>
						<p>{{recipe.user.lastname}}</p>

						<label>Prénom :
						</label>
						<p>{{recipe.user.firstname}}</p>

					</div>
					<div>
						<label>Spécialité :
						</label>
						<p>{{recipe.user.speciality}}</p>

						<label>Experience :
						</label>
						<p>chef {{recipe.user.experience}}</p>

					</div>
				</div>
		</div>
	</main>

{% endblock %}

