<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('images/favicon_cookbook.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}

		<!-- https://tailwindcss.com/docs/installation/play-cdn -->
		{# <script src="https://cdn.tailwindcss.com"></script> #}

		<!-- https://fonts.google.com/ -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

		<!-- font-awesome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
	</head>


	<body>
		{% block nav %}
			<header id="header_id">
				<div class="header_container">

					<div id="menuToggle">
						<input id="checkbox" type="checkbox">
						<label class="toggle" for="checkbox">
							<div class="bar bar--top"></div>
							<div class="bar bar--middle"></div>
							<div class="bar bar--bottom"></div>
						</label>
					</div>
					{% block connexion %}
						<div class="right_bar_container">

							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a class="login_btn" href="{{path('tcb_front_user_profile', {slug: app.user.slug})}}">
									<img src="{{app.user.picture ?: "https://cdn-icons-png.flaticon.com/512/190/190674.png" }}" alt="avatar du profile utilisateur">
								</a>
							{% else %}
								<a href="{{path('tcb_front_security_login')}}">
									<i class="fas fa-user"></i>
								</a>
							{% endif %}

							<div>
							
							</div>
						</div>
					{% endblock %}


					<nav>
						<ul>
							<li><a href="{{ path('tcb_front_main_home') }}">Accueil</a></li>
							<li><a href="{{ path('tcb_front_recipe_getAll') }}">Recettes</a></li>
							<li><a href="{{ path('tcb_front_user_getAll') }}">Chefs</a></li>
							<li><a href="{{ path('tcb_front_category_getAll') }}">Catégories</a></li>
						</ul>

					</nav>


					<a class="logo" href="{{path('tcb_front_main_home')}}">
						<img src="{{ asset('images/logo_the_cookbook.png')}}" class="logo" alt="logo cookbook">
					</a>


				</div>
			{% endblock %}


		</header>


		{% block main %}
			<main>
				<div class="main_container">
					{% include "Front/fragments/_flash_message.html.twig" %}
					{% block body %}{% endblock %}
				</div>
			</main>
		{% endblock %}


		{% block footer %}
			<footer>

				<div class="footer_container">
					<a class="tcb_btn_arrow_top" href="#header_id">
						<i class="fas fa-arrow-up"></i>
					</a>

					<ul>
						<li><a href="#">Mentions Légales</a></li>
					</ul>
				</div>

			</footer>
		{% endblock %}

	</body>

	{% block js %}{% endblock %}
</html>
