{% extends 'Front/front_base.html.twig' %}

{% block title %}Liste des chefs
{% endblock %}


{% block body %}

	<h1 class="page_title">The CookBook : les chefs</h1>

	<div style="text-align: center">
		<h3> Chercher un chef</h3>

		<form method="GET" class="search_container" action="{{path('tcb_front_user_search')}}">
			<i class="fas fa-search"></i>
			<input name="search" type="text" placeholder="Chercher un chef" class="mw-100">
		</form>
	</div>


	{% for user in users %}
		{% if user.status == "public" %}

			<div class="cards">

				<div class="r_cards_container">

					<img src="{{user.picture}}" alt="{{user.firstname}} {{user.lastname}}">

					<div class="r_cards_content">
						<h2>{{user.firstname}}
							{{user.lastname}}</h2>
						<p>chef
							{{user.experience}}</p>
						<h3>Sa spécialité</h3>
						<p>{{user.speciality}}</p>
						<p>
							<h3>En quelques mots</h3>
						</p>
						<p class="r_card_presentation">{{user.presentation}}</p>

						<div class="r_card_btn">
							<a class="tcb_btn" href="{{ path('tcb_front_user_show', { 'slug' : user.slug}) }}">Découvrir le chef</a>
						</div>

					</div>
				</div>
			</div>

		{% endif %}

	{% endfor %}

	{# display navigation #}
	<div class="tcb_pagnination mx-auto mt-4">
		{{ knp_pagination_render(users, 'Front/fragments/_paginator.html.twig') }}
	</div>
	{# <button type="button" class="tcb_btn">Voir plus</button> #}

{% endblock %}

