{% extends 'Front/front_base.html.twig' %}

{% block title %}profil de
	{{user.lastname}}
{% endblock %}

{% block body %}

	<aside>

		<div>
			<li>
				<a href="{{ path('tcb_front_user_profile', {slug: app.user.slug})}}">Mon profil</a>
			</li>
			<li>
				<a href="{{ path('tcb_front_user_getRecipesByUser', {slug: app.user.slug})}}">Mes recettes</a>
			</li>
			<li>
				<a href="{{ path('tcb_front_recipe_add')}}">Ajouter une recette</a>
			</li>
			<li>
				<a href="#">Mon Ebook</a>
			</li>

			<li>
				<a href="{{ path('tcb_front_security_logout') }}">Se déconnecter</a>
			</li>
		</div>

	</aside>

	{{form_start(form, {attr: {novalidate: 'novalidate'}})}}


	{{form_label(form.email)}}
	{{form_widget(form.email)}}
	{{form_help(form.email)}}
	{{form_errors(form.email)}}

	{{form_label(form.lastname)}}
	{{form_widget(form.lastname)}}
	{{form_help(form.lastname)}}
	{{form_errors(form.lastname)}}

	{{form_label(form.firstname)}}
	{{form_widget(form.firstname)}}
	{{form_help(form.firstname)}}
	{{form_errors(form.firstname)}}

	{{form_label(form.picture)}}
	{{form_widget(form.picture)}}
	{{form_help(form.picture)}}
	{{form_errors(form.picture)}}

	{{form_label(form.speciality)}}
	{{form_widget(form.speciality)}}
	{{form_help(form.speciality)}}
	{{form_errors(form.speciality)}}

	{{form_label(form.experience)}}
	{{form_widget(form.experience)}}
	{{form_help(form.experience)}}
	{{form_errors(form.experience)}}

	{{form_label(form.presentation)}}
	{{form_widget(form.presentation)}}
	{{form_help(form.presentation)}}
	{{form_errors(form.presentation)}}

	{# {{form_label(form.password)}}
		{{form_widget(form.password)}}
		{{form_help(form.password)}}
		{{form_errors(form.password)}} #}


	{{form_label(form.status)}}
	{{form_widget(form.status)}}
	{{form_help(form.status)}}
	{{form_errors(form.status)}}


	<button class="tcb_btn" type="submit">Valider</button>

	{{form_end(form)}}


{% endblock %}
